version: "3.9"
services:

    backend:
        build: ./backend
        image: "nestjs-app"
        env_file:
            - ./.env
        ports:
            - "4000:3001"
        restart: unless-stopped
        depends_on:
            - postgres

    frontend:
        build: ./frontend
        image: "nestjs"
        ports:
            - "80:80"
        tty: true
        stdin_open: true
        depends_on:
            - backend
        volumes:
            - ./certbot/conf:/etc/letsencrypt
            - ./certbot/www:/var/www/certbot

    postgres:
        image: postgres:13
        env_file:
            - ./.env
        ports:
            - "5433:5432"
        restart: unless-stopped
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        volumes:
            # монтируем директорию ./pg-data основной ОС в директорию с данными в контейнере
            - pgdata:/var/lib/postgresql/data

    certbot:
        image: certbot/certbot
        volumes:
            - ./certbot/conf:/etc/letsencrypt
            - ./certbot/www:/var/www/certbot
        command: certonly --webroot -w /var/www/certbot --force-renewal --email oxidjini@ya.ru -d kupi.nomoredomains.club --agree-tos

volumes:
    pgdata:
